.itemForm{
    -fx-background-image: url("/lk/pos/fx/shop/asset/item.jpg");
    -fx-background-size: cover;
    -fx-border-radius: 5;
    -fx-border-color: black;
    -fx-boarder-width:0px 0px 10px 0px;
}